<div id="header">
  <div class="flex justify-between m-4">
    <h1 class="text-4xl"> My Movie List </h1>
    <input class="border rounded-md p-2 min-w-1/7" type="text" placeholder="(type here to search...)">
  </div>
  <hr class="m-4">
</div>
<div id="movie-list" class="flex justify-center pt-5 ">
  <div id="movie-list-header" class="h-15 w-1/2 flex flex-row">
    <div class="border border-r-0 w-1/2 flex items-center pl-[5%]">
      Movie Title
    </div>
    <div class="border border-r-0 w-1/4 flex items-center justify-center">
      Vote Rating
    </div>
    <div class="border border-r-0 w-1/4 flex items-center justify-center">
      Vote Count
    </div>
    <div class="border w-1/20"></div>
  </div>
</div>
