<div id="header">
  <div class="flex justify-between m-4">
    <h1 class="text-4xl"> My Movie List </h1>
    <input class="border rounded-md p-2 min-w-1/7 " type="text" placeholder="(type here to search...)">
  </div>
  <hr class="m-4">
</div>
